{
  "env": {
    "browser": true,
    "es2021": true,
    "commonjs": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "airbnb",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "React": true,
    "JSX": true,
    "context": true
  },
  "plugins": ["react", "@typescript-eslint", "unused-imports", "prettier"],
  "rules": {
    "global-require": 0,
    "no-shadow": "off",
    "no-alert": "off",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "prettier/prettier": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-unresolved": "off",
    "unused-imports/no-unused-imports-ts": "error",
    "arrow-body-style": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-param-reassign": ["error", { "props": false }],
    "no-use-before-define": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "warn",
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/require-default-props": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
