.social{
    margin-top: 10px;
}

.social a {
    font-size: 2em;
    margin-right: 10px;
    cursor: pointer;
}

.social a svg{
    transition: all 0.2s linear;
}

.social a svg:hover{
    transform: scale(1.05);
    color:#7fd4d3;
}
