.main {
  align-items: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.main-text {
  white-space: pre-wrap;
  font-size: 3em;
  margin: 0;
}

@media (max-width: 768px) {
  .main {
    font-size: 0.8em;
  }
}
