.main {
  align-items: center;
  margin-top: 25vh;
  margin-bottom: 25vh;
  padding-right: 5vw;
  padding-left: 5vw;
}

.main-text {
  white-space: pre-wrap;
  font-size: 3em;
  margin: 0;
}

@media (max-width: 400px) {
  .main {
    font-size: 0.7em;
    margin-top: 5vh;
    margin-bottom: 15vh;
  }
}
