.about{
    margin-top: 5vh;
    margin-bottom: 19vh;
}

.about-con{
    padding-right: 17vw;
    padding-left: 17vw;
}
.about-con section {
    display: flex;
    flex-direction: column;
}

.about-me{
    display: flex;
    justify-content: space-between;
}
.about-me-text{
    width:70%;
    padding-right: 5%;
}
.about h1{
    font-size: 4em;
    margin-bottom: 1rem;
}
.about-me-intro{
    font-size: 1.6rem;
}
.about-me-desc{
    font-size: 1.3rem;
    font-weight: 300;
}
.about-me-img{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me-pdf{
    display: inline-block;
    background-color:#fff;
    color: #7fd4d3;
    padding: 13px 26px;
    border-radius: 300px;
    border: 3px solid #7fd4d3;
    margin-top:10px;
    font-size: 1.2em;
    transition: all 0.2s ease-in;
}

.about-me-pdf:hover{
    background-color:#7fd4d3;
    color: #fff;
}
.skill-wrap {
    display: flex;
    height: 65px;
    margin-top: 20px;
    justify-content: space-around;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin-right: 15px;
}
.skill-title {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-name {
    margin-left: 5px;
    font-weight: 300;
    font-size: 1rem;
}
.skill-bar{
    display: flex;
}

.skill-bar > div {
    width: 15px;
    height: 15px;
    margin-right: 1px;
    background: rgba(0, 0, 0, 0.15);
}