/*############################## START OF HEADER STYLE */
.header ul {
    padding: 0;
    display: flex; 
    justify-content: space-between;
  }
  
  .header ul li {
    display: flex; 
    align-items: center;
  }
  
  .header ul li a {
    transition: all 0.2s ease-in-out;
    position: relative;
  }
  
  .header ul li a::after {
    background-color: #7fd4d3;
    bottom: -1px;
    content: ' ';
    display: block;
    height: 12px;
    width: 100%;
    left: 7px;
    opacity: 0.5;
    position: absolute;
    transition: all 0.2s ease-in-out;
    z-index: -1;
  }
  
  .header ul li a:hover::after{
    width: 120%;
    opacity: 1;
    left: 2px;
  }
  
  /*############################## END OF HEADER STYLE */