@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap');

html, body {
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom, #7fd4d3, #1c336a);
  font-family: 'Nanum Gothic Coding', monospace, Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100%;
}

.dep1-root {
  background-color: #fff;
  margin: 3rem;
  border-radius: 3rem;
}

.dep2-root {
  max-width: 48rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.header ul {
  padding: 0;
  display: flex; 
}

.header ul li {
  list-style-type: none;
  margin-right: 10px;
}

